# Бинарники
*.exe
*.exe~
*.dll
*.so
*.dylib

# Тестовые бинарники
*.test

# Выходные файлы профайлера
*.out

# Зависимости Go
vendor/

# Папки IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Переменные окружения
.env
.env.local
